@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@400;500;600;700 & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --laranja: #fa5e00;
    --branca: #fff;
    --preta: #1e1c2a;
}

body {
    color: var(--preta);
    background: var(--branca);
}

/*-----------------Estilizando o Navegador--------------- */
.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--branca);
    transition: all 0.5s;
    position: fixed;
}

/*Estilizando Logo*/
.navegacao .logo {
    color: var(--laranja);
    font-size: 2rem;
    font-weight: 600;
}

.logo span {
    color: var(--preta);
}

/*----------------Estilizando botao de inicio de sessao e de Cadastre----------------- */
.navegacao-btn .btn-sessao {
    padding: 10px 10px;
    background: var(--preta);
    color: var(--branca);
    border-radius: 15px;
    font-weight: 700;
    transition: all 0.5s;
    border: none;
    font-size: 0.8rem;
}

.navegacao-btn .btn-cadastro {
    padding: 10px 10px;
    background: var(--laranja);
    color: var(--branca);
    border-radius: 15px;
    font-weight: 700;
    transition: all 0.5s;
    border: none;
    font-size: 0.8rem;
}

.navegacao-btn .btn-sessao:hover {
    background: var(--branca);
    border: 1px solid var(--preta);
    color: var(--preta);
}

.navegacao-btn .btn-cadastro:hover {
    background: var(--branca);
    border: 1px solid var(--laranja);
    color: var(--laranja);
}


/*--------------------*/

/*------Estilizando listas na barra de Navegacao----- */
.navegacao ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegacao ul li a {
    color: var(--preta);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navegacao ul li a:hover {
    color: var(--laranja);
}

/*---------------Fim da barra de Navegacao------------------ */

/*---------Estilizando o Conteudo do menu principal Main------ */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30% 5%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--preta);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: var(--laranja);
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 10px 20px;
    background: var(--laranja);
    color: var(--branca);
    border-radius: 12px;
    font-weight: 700;
    transition: all 0.5s;
    border: none;
}

.home-btn:hover {
    background: var(--branca);
    border: 1px solid var(--laranja);
    color: var(--laranja);
}

.home-img img {
    height: 100vh;
    width: 100%;
}

/* Scrollbar -personalizado */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--branca);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--preta);
    border-radius: 20px;
    border: 1px solid var(--branca);
}

/*----------------------------------------------*/


/*--------- Fim Conteudo Menu Principal Main--------*/



/* Perfil do Utilizador */

.profile h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    margin-top: 10px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-top: 12px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
}

button#change-password {
    background-color: #fa5e00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button#change-password:hover {
    background-color: #ff6f20;
}

/* ***************************************** */


.container {
    max-width: 1600px;
    padding: 2px;
    margin-top: 12%;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos da tabela */
.tabela-clientes {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.tabela-clientes th,
.tabela-clientes td {
    border: 1px solid #ccc;
    padding: 10px;
}

.tabela-clientes th {
    background-color: #f2f2f2;
}

.tabela-clientes tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-clientes tbody tr:hover {
    background-color: #ddd;
}



/*--------------Responsividade-------------------*/

/* Responsividade para telas menores */
@media (max-width: 768px) {
    /* Estilos para telas menores */

    body {
        font-size: 14px;
    }

    .navegacao {
        padding: 20px;
    }

    .navegacao .logo {
        font-size: 1.5rem;
    }

    .nav-menu {
       
    }

    .home {
        padding: 20% 5%;
    }

    .home-text .text-h4 {
        font-size: 1.2rem;
    }

    .home-text .text-h1 {
        font-size: 2.8rem;
    }

    .home p {
        font-size: 1rem;
    }

    .home-btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
  
    body {
        font-size: 12px;
    }

    .navegacao {
        padding: 15px;
    }

    .navegacao .logo {
        font-size: 1.2rem;
    }

    .nav-menu {

    }

    .home {
        padding: 15% 5%;
    }

    .home-text .text-h4 {
        font-size: 1rem;
    }

    .home-text .text-h1 {
        font-size: 2.4rem;
    }

    .home p {
        font-size: 0.9rem;
    }

    .home-btn {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}
